* {
    box-sizing: border-box;
}

body {
    background-image: url('Enlist12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav1 {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1px;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
}


.nav2 {
    width: 98%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

#image1 {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.block1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    align-content: center;
    text-align: center;
    display: block;
    background-color: darkgray;
    border-radius: 20px;
}

#menu {
    font-family: 'Bauhaus 93';
    font-size: 20px;
    color: whitesmoke;
    
}
.nav3 {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}
#stormtrooper {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 3%;
    margin-right: 2%;
    float: left;
    width: 20%;
    text-align: justify;
}
#officer {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    width: 20%;
    text-align: justify;
}
#fleet {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    width: 20%;
    text-align: justify;
}
#galaxy {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    width: 20%;
    text-align: justify;
}
.block2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    align-content: center;
    text-align: center;
    display: block;
    background-color: darkgray;
    border-radius: 20px;
}

#menu2 {
    font-family: 'Bauhaus 93';
    font-size: 20px;
    color: whitesmoke;
}
.nav4 {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}
#hero1{
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 3%;
    margin-right: 1%;
    float: left;
    width: 30%;
    text-align: justify;
}
#hero2 {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 30%;
    text-align: justify;
}
#hero3 {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 30%;
    text-align: justify;
}
.footer {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}

#work {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 3%;
    margin-right: 1%;
    float: left;
    width: 15%;
    text-align: justify;
}

#symbol {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 62%;
    text-align: justify;
}

#contact {
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 15%;
    text-align: justify;
}

/*Aqui hacemos el CSS de la pagina stormtroopers.html*/

.header_st {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
   
}
.article_st1 {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}
#image_st1 {
    width: 30%;
    display: table-cell;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
}
#par_st1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    display: table-cell;
    float: left;
}
.article_st2 {
    width: 92%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
    align-content: center;
}
#image_st2 {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    align-content: center;
}
#image_st3 {
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    align-content: center;
}
#image_st4 {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    align-content:center;
}

/*Aqui hacemos el CSS de officers.html*/

.header_of {
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    float:right;
}
#image_of1 {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
#image_of2 {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
#image_of3 {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.nav_of1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 2%;
    padding: 20px;
    width: 90%;
    align-content: center;
    text-align: justify;
    display: block;
    background-color: rgba(204,200,123,0.3);
}
.footer_of {
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
}
#image_of4 {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

#image_of5 {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

#image_of6 {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

/*Aqui hacemos el CSS de la pagina empire_fleet.html*/
.header_fl {
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
}

#image_fl1 {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

#image_fl2 {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

#image_fl3 {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.article_fl {
    width: 92%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 2%;
    align-content: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(204,200,123,0.3);
}
#title_fl {
    font-size:20px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 20px;
    margin-right: 10px;
}
#par_fl {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
#image_fl4 {
    align-content:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8%;
    margin-right: 2%;
}


/*Aqui hacemos el CSS de la pagina galaxy.html*/
.block_gal {
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 40%;
     margin-right: 40%;
     width: 20%;
     align-content: center;
     text-align: center;
     display: block;
     background-color: darkgray;
     border-radius: 20px;
    }
#menu_gal {
    font-family: 'Bauhaus 93';
    font-size: 20px;
    color: whitesmoke;
}
.nav_gal1 {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}
#image_n {
    width: 30%;
    display: table-cell;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
}
#par_n {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    display: table-cell;
    float: left;
}
.nav_gal2 {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}

#image_k {
    width: 30%;
    display: table-cell;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

#par_k {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    display: table-cell;
    float: left;
}
.nav_gal3 {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    float: right;
    display: table-row;
    overflow: hidden;
}

#image_l {
    width: 30%;
    display: table-cell;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

#par_l {
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    text-align: justify;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    display: table-cell;
    float: left;
}

/*Aqui empieza el CSS de formulary.html*/
.header_en {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: justify;
}
.form {
    width: 98%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px;
    align-content: center;
    background-color: rgba(204,200,123,0.3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.footer_f {
    width: 40%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    align-content: center;
    
}
@media only screen and (max-width:600px) 
{
    body
    .nav1
    .nav2 
    {
        width: 100%;
        float: none;
    }
    .nav3 {
        width: 100%;
        float: none;
    }
    .nav4 {
        width: 100%;
        float: none;
    }
    .article_fl
    .article_st1
    .article_st2
    .block1
    .block2
    .block_gal
    .footer
    .footer_f
    .footer_of
    .form
    .header_en
    .header_fl
    .header_of
    .header_st
    .nav_gal1
    .nav_gal2
    .nav_gal3
    .nav_of1
}